<!DOCTYPE html>

<html>
	<head>
		<script type="text/javascript">
			var start_ms;
			var end_ms;

			function startTime() {
   				start = new Date();
   				start_ms = start.getTime();
			}

			function endTime() {
   				end = new Date();
   				end_ms = end.getTime();
   				var elem = document.getElementById("elapsed_time");
   				elem.value = end_ms-start_ms;
			}
		</script>
	</head>

	<body onload='startTime()'>

		<form name = 'input_form' action="{% url 'answer_question' workerID %}" method='post'>

			{% csrf_token %}

			<h1>Answer a Question</h1>

			{{ predicate.restaurant.text }} </br> </br>
			Restaurant: {{ predicate.restaurant.name }} </br>
			Website: <a href='{{ predicate.restaurant.url }}' >{{ predicate.restaurant.url }} </a> </br>
			Question: {{ predicate.question }} </br></br>

			<span title="The confidence levels indicate how certain you are of your answer. Clicking yes and 80% therefore translates to a 0.8 vote of yes and a 0.2 vote of no. One thing to also note is that clicking yes and 50% is the same as no and 50%.">Hover your mouse here to see more on confidence levels.</span></br></br>

			{{ form }}

			<input type="hidden" id="elapsed_time" name = "elapsed_time" value="555">
			<input type="hidden" id="pred_id" name = "pred_id" value={{ predicate.id }}>
			<br>
			<input type="submit" value="Submit" onclick='endTime()'>

		</form>
	</body>
</html>